# Dependencias
node_modules/

# Build
backend/dist/

# Archivo generado — se regenera con el script de conversión
ontologia.rdf

# Variables de entorno
.env
.env.local

# Python
__pycache__/
*.pyc
*.pyo

# Logs
*.log
npm-debug.log*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# MD
PLAN.md